<div id="workshop" class="about" style="background-color: #efefef; text-align: center;">
  <div class="container-fluid">
    <!-- <h1 class="section-title" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color:#3dadb2">Workshop</h1> -->

    <div class="row">
      <div class="col-sm-12" style="text-align: left; ">
        
        <table>
	  <tr>
	    <th>Hotel</th>
	    <th>Residents (TZS)</th>
	    <th>East Africans</th>
	    <th>Others</th>
	    <th>Service</th>
	    <th>Contact</th>
            <th>Area</th>
	  </tr>
	  <tr>
	    <td>NM-AIST campus</td>
	    <td>30,000</td>
	    <td>USD 30</td>
	    <td>USD 30</td>
            <td>Bed Only</td>
            <td>victoria.ndossi@nm-aist.ac.tz</td>
            <td>Tengeru</td>
	  </tr>
          <tr> 
            <td>Green Mountain Hotel</td>
	    <td>50,000</td>
	    <td>USD 50</td>
	    <td>USD 50</td>
            <td>Bed and Breakfast</td>
            <td>greenmountainhotel2013@gmail.com</td>
            <td>Town</td>
	  </tr>
<tr> 
	    <td>Corridor springs hotel</td>
	    <td>100,000</td>
	    <td>TZS 100,000</td>
	    <td>USD 390</td>
            <td>Bed and Breakfast</td>
            <td>reservation@corridorspringshotel.com</td>
            <td>Town</td>
	  </tr>
<tr> 
	    <td>Park View Hotel</td>
	    <td>30,000</td>
	    <td>TZS 30,000</td>
	    <td>TZS 30,000</td>
            <td>Bed and Breakfast</td>
            <td>0765-615112 (WhatsApp)</td>
            <td>USA River</td>
	  </tr>
<tr> 
	    <td>Ndesa Safari Lodge</td>
	    <td>20,000</td>
	    <td>TZS 35,000</td>
	    <td>TZS 35,000</td>
            <td>Bed and Breakfast</td>
            <td>0752-639392 (WhatsApp)</td>
            <td>USA River</td>
	  </tr>
<tr>
	    <td>The Haus</td>
	    <td>60,000/</td>
	    <td>USD 60</td>
	    <td>USD 60</td>
            <td>Bed and Breakfast</td>
            <td>kaributhehaus@gmail.com/reservations@thehaus.co.tz</td>
            <td>Town</td>
	  </tr>

	 </table>
        
	
      </div>
    </div>
  </div>
</div>
