{% if talk.youtube %}<p>{% if talk.title %}<div style="font-size: 1.5em; 
                    /*color: #e6e6e6; */
                    line-height: 1em;">{% if talk.abstract and page.show_abstracts%}<a class='talk' href='#{{talk.speaker}}'>{{ talk.title }}</a>{% else %}{{talk.title}}{% endif %}</div> {% endif %}{% if talk.url %}<a href="{{ talk.url }}">{% endif %}{{ talk.speaker }}{% if talk.url %}</a>{% endif %}{% if talk.institute %}, {{ talk.institute }}{% endif %}{% if talk.slides %} [<a href="{{ site.url }}{{ site.baseurl }}/slides/{{ talk.slides }}">slides</a>]{% endif %}</p><iframe width="{{ site.video.width }}" height="{{ site.video.height }}" src="https://www.youtube.com/embed/{{ talk.youtube }}" frameborder="0" allowfullscreen></iframe> 
{% endif %}
