---
layout: school_program
---


<div class="header vert">
    <div class="container">
        <h1>{{ site.school.name }} {{ site.school.year }}</h1>
        <p>The school will mainly cover the broad areas of Machine Learing and Data Science. </p>
        

        <h2>Lectures Schedule</h2>
        
        <ul class="nav nav-tabs">
	  {% for post in site.posts reversed %}
	  {% if post.layout == "school" %}
          <li><a data-toggle="tab" href="#{{ post.title | split: ' ' | join: '' }}">{{ post.title }}</a></li>
	  {% endif %}
	  {% endfor %}
        </ul>

        <div class="tab-content">
	  {% for post in site.posts reversed %}
	  {% if post.layout == "school" %}
          <div id="{{ post.title | split: ' ' | join: '' }}" class="tab-pane fade">
            {{ post.content }}
	    <p></p>
	    {% if post.talks %}
	    <table>
	      <thead>
		<tr>
		  <th><h4 class="text-center">Date</h4></th>
		  <th><h4 class="text-center">Time</h4></th>
		  <th><h4 class="text-center">Activity</h4></th>
		  <th><h4 class="text-center">Facilitator</h4></th>
		</tr>
	      </thead>
	      <tbody>
		{% for talk in post.talks %}
		{% include listtalk.html %}
		{% endfor %}
	      </tbody>	      
            </table>
	    {% endif %}
          </div>
	  {% endif %}
	  {% endfor %}
        </div>
    </div>
</div>


