---
layout: school_program
---


<div class="header vert">
    <div class="container">
        <h1>{{ site.school.name }} {{ site.school.year }}</h1>
        <p>The school will mainly cover the broad areas of Machine Learing and Data Science. </p>
        

        <h2>Lectures Schedule</h2>
        
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#preworkshop">Pre-workshop</a></li>
	  {% for post in site.posts reversed %}
	  {% if post.layout == "school" %}
          <li><a data-toggle="tab" href="#day{{ post.day }}">{{ post.title }}</a></li>
	  {% endif %}
	  {% endfor %}
        </ul>

        <div class="tab-content">
          <div id="preworkshop" class="tab-pane fade in active">
            <h4>Stuff to install..</h4>
            <p>To ensure we hit the ground running, it is essential you install the prerequiste software and test it out and make sure it is working on your computer. The venue for the summer school will have some computers on which the software will have been installed but you are advised to come with your own laptop with the software installed.</p>

            <p>Luckily all the software required has already been prepackaged in a bundle called <em>Anaconda</em>. You can download the various versions of the software for your laptop OS and architecture from the <a href="https://www.continuum.io/downloads">Anaconda website</a>.</p>

            <h4>Stuff to do..</h4>
            To ensure that the software is working fine on your machine and to get you up and running, download the following <a href="./downloads/Lesson-0 Testing  Software .ipynb">iPython Notebook</a> and do the exercises in there. If you have not used iPython Notebook before, make friends with Google - a friend in need....
          </div>

	  {% for post in site.posts reversed %}
	  {% if post.layout == "school" %}
          <div id="day{{ post.day }}" class="tab-pane fade">
            <p></p>
	    <table id="table{{ post.day }}">
	      <thead>
		<tr><td><h4 class="text-center">Date</h4></td><td><h4 class="text-center">Time</h4></td><td><h4 class="text-center">Activity</h4></td><td><h4 class="text-center">Facilitator</h4></td>
		</tr>
	      </thead>
	      <tbody>
		{% for talk in post.talks %}
		{% include listtalk.html %}
		{% endfor %}
	      </tbody>	      
            </table>
          </div>
	  {% endif %}
	  {% endfor %}
        </div>
    </div>
</div>

<script type="text/javascript" src="lectures.js"></script>

