---
layout: workshop_program
---


<div class="header vert">
    <div class="container">
        <h1>{{ site.conference.name }} {{ site.conference.year }}</h1>
        <p>The conference will mainly cover the broad areas of Machine Learning and Data Science. </p>
        

        <h2>Schedule</h2>
        
        <ul class="nav nav-tabs">
	  {% for post in site.posts reversed %}
	  {% if post.layout == "workshop" %}
          <li><a data-toggle="tab" href="#{{ post.title | split: ' ' | join: '' }}">{{ post.title }}</a></li>
	  {% endif %}
	  {% endfor %}
        </ul>

        <div class="tab-content">
	  {% for post in site.posts reversed %}
	  {% if post.layout == "workshop" %}
          <div id="{{ post.title | split: ' ' | join: '' }}" class="tab-pane fade">
	    <p></p>
            {{ post.content }}

	    {% if post.talks %}
	    <table>
	      <thead>
		<tr>
		  <th><h4 class="text-center">Time</h4></th>
		  <th><h4 class="text-center">Presentation</h4></th>
		  <th></th>
		</tr>
	      </thead>
	      <tbody>
		{% for talk in post.talks %}
		{% include listtalk_tab.html %}
		{% endfor %}
	      </tbody>	      
            </table>
	    {% endif %}
          </div>
	  {% endif %}
	  {% endfor %}
        </div>
    </div>
</div>


